---
interface Props {
	class?: string;
}
const { class: className } = Astro.props;
---
<div class:list={["inline-flex border-[1.5px] border-lt-ink p-[1px] bg-white leading-none", className]}>
    <span class="px-1 text-[14px] font-[900] italic text-lt-ink">R</span>
    <span class="bg-rl-red text-white px-1.5 text-[14px] font-[900] italic">P</span>
</div>
