---
---
<div class="absolute bottom-0 left-0 right-0 h-[3px] flex z-10">
    <div class="bg-rl-teal w-1/3"></div>
    <div class="bg-rl-gold w-1/3"></div>
    <div class="bg-rl-red w-1/3"></div>
</div>
